.simon-l
  border-left: none
.simon-b
  border-bottom: none

.main__simon-btn-wrapper
  margin-top: 10vh
  text-align: center

.simon-bt
  color: white
  background-color: transparent

.main__simon-bt-play
  margin-right: 12px
  font-size: 1.6rem
  height: 60px
  width: 60px
  color: #E1D934
  line-height: 1

.main__simon-bt-mode
  float: right
  font-size: 2rem
  height: 60px
  width: 60px
  color: #00A8F1
