.ttt-l
  border-left: solid white 2px
.ttt-b
  border-bottom: solid white 2px

.x
    position: absolute
    width: 74px;
    height: 74px;
    padding: 10px 0 0 10px

.o
    position: absolute
    width: 74px;
    height: 74px;
    padding: 10px 0 0 10px

.make-red
  fill: #E74C3C
.make-green
  fill: #2ECC71

.main__ttt-btn-wrapper
  margin-top: 74px

.ttt-bt
  color: white
  font-size: 2em
  margin: 0 37px
  outline: solid white 1px
  background-color: transparent
  padding: 12px 12px
  p
    margin: 12px 0 0 0
    padding: 0 0
