.ttt-l
  border-left: solid white 2px
.ttt-b
  border-bottom: solid white 2px

.x
    position: absolute
    width: 74px
    height: 74px
    padding: 10px 0 0 10px

.o
    position: absolute
    width: 74px
    height: 74px
    padding: 10px 0 0 10px

.make-red
  fill: #E74C3C
.make-green
  fill: #2ECC71

.main__ttt-btn-wrapper
  margin-top: 10vh

.ttt-bt
  width: 63px
  color: white
  font-size: 2em
  margin: 0 37px
  outline: solid white 1px
  background-color: transparent
  padding: 10px 10px
  p
    margin: 12px 0 0 0
    padding: 0 0
  img
    width: 100%
    height: 100%

.main__ttt-xo-icons
  display: inline-block
  height: 300px
  width: 300px
  margin-top: 10px
  text-align: center

.main__x-icon
  display: inline-block
  margin: 0 37px
  text-align: center
  width: 63px
  height: 63px
  outline: solid white 2px
  padding: 4px

.main__o-icon
  padding: 4px
  margin: 0 37px
  display: inline-block
  text-align: center
  width: 63px
  height: 63px
  outline: solid white 2px
