mixin table-maker(tr_size, td_size)
  - var ntr = 1
  while ntr <= tr_size
    tr(class = 'tr' id = ('tr-' + ntr++))
      - var ntd = 1
      while ntd <= td_size
        td(class = 'td' id = ('td-' + (ntr-1)) + ntd++)=(ntr-1) + '' + (ntd-1)
