@import 'modules/normalize.scss'
@import 'modules/reset.scss'

@import 'state/simon.sass'
@import 'state/ttt.sass'

html, body
  height: 100%
  box-sizing: border-box
  overflow: hidden
  transition: all 0.1s ease-in-out

*, *:before, *:after
  box-sizing: inherit

html
  background-size: cover
  background-repeat: no-repeat;

body
  text-align: center
  background-color: black
  color: transparent
  margin: 0

.main-wrapper
  display: none

.main
  display: none
  align-items: center
  justify-content: center
  flex-direction: column

.main__table
  border-collapse: collapse
  text-align: center
  width: 220px
  height: 220px
  font-size: 1.4em
  margin-top: 10vh
  transition: width 0.3s ease-in-out, height 0.3s ease-in-out

.td
  user-select: none
  cursor: default
  transition: position 0.1s ease-in-out, border 0.3s ease-in-out, background-color 0.3s ease-in-out

.center-bt, .header__button
  background-size: 90%
  background-position: center
  background-repeat: no-repeat
  border: white 1px solid
  background-color: black
  position: absolute
  top: 35vh
  transition: top 0.5s ease-in-out

.btn-wrapper__left-bt
  position: relative
  background-image: url(../img/tttbt.svg)
  height: 80px
  width: 80px

.btn-wrapper__right-bt
  position: relative
  background-image: url(../img/simonbt.svg)
  height: 80px
  width: 80px

.simon, .ttt
  display: none
