@import 'modules/normalize.scss'
@import 'modules/reset.scss'

@import 'state/simon.sass'
@import 'state/ttt.sass'

html, body
  height: 100%

body
  background-color: black
  color: transparent
  margin: 0

.main
  display: flex
  align-items: center
  justify-content: center
  height: 100%
  padding: 0
  margin: 0

.main__table
  border-collapse: collapse
  text-align: center
  width: 220px
  height: 220px
  font-size: 1.4em

.td
  user-select: none
  cursor: default

.x
    position: absolute
    width: 74px;
    height: 74px;
    background: url('../img/x.png') no-repeat 5px 5px;
    background-size: 80%

.o
    position: absolute
    width: 74px;
    height: 74px;
    background: url('../img/o.png') no-repeat 5px 5px;
    background-size: 80%
