@import 'modules/normalize.scss'
@import 'modules/reset.scss'

@import 'state/simon.sass'
@import 'state/ttt.sass'

html, body
  height: 100%
  box-sizing: border-box
  overflow: hidden

*, *:before, *:after
  box-sizing: inherit

body
  background-color: black
  color: transparent
  margin: 0

.main
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column
  height: 100%
  padding: 0
  margin: 0

.main__table
  border-collapse: collapse
  text-align: center
  width: 220px
  height: 220px
  font-size: 1.4em

.td
  user-select: none
  cursor: default
  transition: all 0.1s ease-in-out

.header
  text-align: center
  margin-right: 98px
  margin-top: 5vh
  margin-bottom: 5vh

.header__button
  position: absolute
